<head>
  <!-- Anpassende Fenstergröße (Responsive) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />

  <!-- Standard-CSS des Browsers entfernen -->
  <link
    rel="stylesheet"
    href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
  />

  <!-- Roboto Mono Schriftart -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    rel="stylesheet"
  />

  <!-- FontAwesome Icons -->
  <script
    src="https://kit.fontawesome.com/212cddc416.js"
    crossorigin="anonymous"
  ></script>

  <!-- CSS stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- Immer in neuem Tab -->
  <base target="_blank" />
</head>
